<div class="widthBanner">
    <div class="changelanguage">English</div>
    <div class="withBanner">
      <div class="withBanner-banner">
        <div class="c-banners">
          <div>
            <img
              src="https://dejban1401.s3.ir-thr-at1.arvanstorage.ir/ipv6-log-in.png"
            />
          </div>
        </div>
      </div>
      <div class="withBanner-content">
        <div class="banner-box">
          <div class="form-title">ورود</div>
          <div class="login">
            <div class="login-input">
              <!-- <input [(ngModel)]="username" placeholder="نام کاربری" /> -->
              <!-- <input [(ngModel)]="password" placeholder="رمز" /> -->
              <div class="example-container">
                <mat-form-field>
                  <mat-label>نام کاربری</mat-label>
                  <input matInput placeholder="yourName" [formControl]="username" required>
                    <mat-error *ngIf="username.invalid">{{getErrorUserNameMessage()}}</mat-error>
                </mat-form-field>
              </div>
              <div class="example-container">
                <mat-form-field>
                  <mat-label>رمز عبور</mat-label>
                  <input matInput placeholder="pat@example.com" [formControl]="password" required>
                    <mat-error *ngIf="password.invalid">{{getErrorPasswordMessage()}}</mat-error>
                </mat-form-field>
              </div>
              <button class="button-enter" (click)="logincheck()">ورود</button>
              <!-- <p>Title :{{responseData}} </p> -->
              <div class="question-p">
                <p>
                  حساب کاربری ندارید ؟
                  <span>
                    <a href="#"> ثبت نام </a>
                  </span>
                </p>
                <p>
                  رمز عبورتان را گم کرده اید ؟
                  <span>
                    <a href="#"> ایجاد رمز جدید </a>
                  </span>
                </p>
              </div>
              <div class="divider-container">
                <div class="divider-left"></div>
                <div class="divider-text">یا</div>
                <div class="divider-right"></div>
              </div>
              <div class="ssoButtons">
                <div class="ar-icon">
                  <div class="ar-icon-img">
                    <img src="../../assets/google.png" width="30" height="30" />
                  </div>
                  <div class="ar-icon-img">
                    <img src="../../assets/pod.png" width="30" height="30" />
                  </div>
                </div>
              </div>
              <div class="terms">
                <p>
                  ورود شما به معنای پذیرش
                  <span>
                    <a target="_blank" href="https://www.arvancloud.ir/fa/legal/terms">
                      شرایط استفاده از خدمات
                    </a>
                  </span>
                  و
                  <span>
                    <a target="_blank" href="https://www.arvancloud.ir/fa/legal/privacy-policy"> سیاست حفظ حریم خصوصی </a>
                  </span>
                  آروان کلاد است
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  